.intro-wrapper {
  min-width: 90%;
  min-height: 100%; /* Ensures it covers at least the full viewport height */
  background-image: url('./collage2.webp'); 
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  background-size: cover;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.red-text {  
  color: #e4002b;
}
 
.country {
  stroke: white;
  stroke-width: 0.5;
}

#unknown-objects {
  color: #e4002b;
  font-weight: bold;
  background-color: #fff5f5;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.country + .highlighted {
  fill: #e4002b;
  stroke: #a9212a;
  stroke-width: 1;
}
.highlighted {
  stroke: #e4002b;
  stroke-width: 3;
}

.d3-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none
}

#img-carousel .carousel-item img {
  width: auto;
  max-width: 100%;
  max-height: 600px;
  object-fit: contain;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  color: white !important;
  padding: 10px;
  border-radius: 8px;
}

body {
  background-color: #ffffff;
  /* Cream background */
  /* Dark red text */
}

.header {
  background-color: #e4002b;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

.card {
  background-color: #ffffff;
  border: none;
}

#map-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

#treemap-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

#world-map {
  border: 2px solid #e4002b;
  border-radius: 3px;
  background-color: white;
  width: 90%;
  height: auto;
}

#tree-map {
  border-radius: 3px;
  background-color: white;
  width: 90%;
  height: auto;
}

/* Change track color */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #bdb79f;
  /* Change track color */
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

/* Change thumb (handle) color */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #e4002b;
  /* Change thumb color */
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #e4002b;
  /* Change thumb color for Firefox */
  border-radius: 50%;
  cursor: pointer;
}

/* When hovering or active */
input[type="range"]:hover {
  background: #bdb79f;
  /* Darker blue on hover */
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #e4002b;
  /* Lighter red on hover */
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.alert {
  background: #fff5f5;
  /* Light red background */
  border-left: 5px solid #e4002b;
  /* Red accent on the left */
}

.btn-danger {
  background-color: #e4002b;
  border: none;
  transition: 0.3s ease-in-out;
}

.end-btn:hover {
  background-color: #a9212a;
  transform: scale(1.05);
}

#QualitySwitch:checked {
  background-color: #e4002b;
  border-color: #e4002b;
}